<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera" params="suffix parent xyz rpy">
    <link name="camera_link_${suffix}">
      <visual>
        <geometry>
          <mesh filename="package://ros2_omni_robot_sim/meshes/3w_v2/camera.stl" />
        </geometry>
        <material name="black">
          <color rgba="0 0 0 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://ros2_omni_robot_sim/meshes/3w_v2/camera.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.5" />
        <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005" />
      </inertial>
    </link>

    <joint name="camera_joint_${suffix}" type="fixed">
      <parent link="${parent}" />
      <child link="camera_link_${suffix}" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <axis xyz="0 0 1"/>
    </joint>

    <gazebo reference="camera_link_${suffix}">
      <sensor type="depth" name="depth_camera_${suffix}">
        <gz_frame_id>camera_link_${suffix}</gz_frame_id>
        <pose>-0.005 0 0 0 0 0</pose>
        <topic>depth</topic>
        <update_rate>10.0</update_rate>
        <camera name="camera_${suffix}">
          <camera_info_topic>depth/camera_info</camera_info_topic>
          <pose>0 0 0 0 0 0</pose>
          <horizontal_fov>1.5</horizontal_fov>
          <image>
            <width>320</width>
            <height>240</height>
            <!-- <format>R8G8B8</format> -->
          </image>
          <clip>
            <near>0.05</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
      <sensor name="camera_${suffix}" type="camera">
        <gz_frame_id>camera_link_${suffix}</gz_frame_id>
        <pose>-0.005 0 0 0 0 0</pose>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
        <topic>camera</topic>
        <camera>
          <camera_info_topic>/camera_info</camera_info_topic>
          <horizontal_fov>1.5</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.01</near>
            <far>300</far>
          </clip>
        </camera>
        <!-- <depth_camera>
          <output>depths</output>
        </depth_camera> -->
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>