<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgz-sim-sensors-system.so"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin name="gz::sim::systems::Imu" filename="libgz-sim-imu-system.so" />
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find ros2_omni_robot_sim)/config/controller_configs/controller_config_3w_v2.yaml</parameters>
    </plugin>
  </gazebo>
</robot>