<?xml version="1.0"?>
<robot name="simple_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ros2_omni_robot_sim)/urdf/3w_v2/base_link.urdf.xacro" />
  <xacro:include filename="$(find ros2_omni_robot_sim)/urdf/3w_v2/gazebo_plugins.urdf.xacro" />   
  <xacro:include filename="$(find ros2_omni_robot_sim)/urdf/3w_v2/ros2_control.urdf.xacro" />

  <link name="base_footprint" />
  <!-- Base Link -->
  <!-- <link name="base_link" /> -->
  <xacro:base_link  parent="base_footprint" xyz="0 0 0" rpy="0 0 0" />

  <!-- <xacro:omni_wheel parent="base_link" suffix="1" xyz="0 0 0" rpy="0 0 0"/> -->

</robot>